# Files from build
**/*.o
**/*.s
# '**/*.s' also matches '.S' on case-insensitive file systems (Windows, macOS)
!src/external/decompress/huf_decompress_amd64.S
src/.depend

# Files from Qt
build
CMakeLists.txt
CMakeLists.txt.user

# Built binary
src/pikafish*
src/-lstdc++.res

# Neural network for the NNUE evaluation
**/*.nnue

